/* =============
    Activites
============= */
#activities{

    h1{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". activities ." ;

        >div{
            grid-area: Activities;
            border: 1px solid #c70303;
        }

    }

    ul{
        padding: 0;
        margin: 0;
        li{
            list-style: none;
            img{
                width: 100%;
            }

            .act-sub{
                    display: grid;
                    grid-template-columns: 16px auto 16px;
                    grid-template-areas: ". Activites ." ;
                >div{
                    grid-area: Activites;
                    border: 1px solid #db1d1d;
                }
            }
        }
    }
}