
/* =============
    Activites
============= */
#activities{
  padding: 78px 14px;

  @include md{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". activities .";
  }

  @include xxl{
    grid-template-columns: auto 1200px auto;
  }

  >div{
    display: grid;
    gap: 16px;

    @include md{
      grid-area: activities;
      grid-template-columns: repeat(4,1fr);
      grid-template-areas: 
      "nt nt nt nt"
      "p1 p1 p2 p2"
      "p3 p3 p4 p4"
      ". p5 p5 .";
    }

    @include lg{
      grid-template-columns: repeat(6,1fr);
      grid-template-areas: 
      "nt nt nt nt nt nt"
      "p1 p1 p2 p2 p3 p3"
      " . p4 p4 p5 p5 .";
    }

    h1{
      @include md{
        grid-area: nt;
      }
    }
    section{
      
      img{
        width: 100%;
      }
      section{
        display: flex;
        justify-content: center;

        div{
          padding: 18px 22px;
          margin: 18px;
          a{
            
            background-color: #4C4669;
            color: white;
            padding: 5px;
          }

        }
      }
      .act-sub{
        display: flex;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". act-sub .";
        background-color: #5E6E62;
        color: white;
        >div{
          grid-area: act-sub;
        }

  }


}


    

    #p1{
      @include md{
        grid-area: p1;
      }
    }
    #p2{
      @include md{
        grid-area: p2;
      }
    }
    #p3{
      @include md{
        grid-area: p3;
      }
    }
    #p4{
      @include md{
        grid-area: p4;
      }
    }
    #p5{
      @include md{
        grid-area: p5;
      }
    }

  }
}
  
  

  