/* =============
    hero
============= */

#hero{

    #hero-img{
        background-image: url(../img/heros/hero.jpg);
        background-size: cover;
        background-position: center;
        height: 40vh;

        @include md{
            height: 50vh;
        }

        @include xl{
            background-position: center 80%;
            height: 65vh;
        }
    }

    img{
        font-size: 0;
        display: block;
    }

    #hero-bottom{

        @include md{
            display: grid;
            grid-template-columns: 40% auto;
        }

        @include lg{
            grid-template-columns: 50% auto;
        }

        .hero-bottom-card{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero .";
            color: white;
            padding: 16px 0;

            >div{
                grid-area: hero;
                display: flex;
                align-items: center;

                aside{
                    margin-left: auto;
                        a:link, a:visited{
                            display: flex;
                            color: white;
                            transition: 0.25s;

                            &:hover, &:active{
                                color: gold;
                            }
                        }
                    }
                }
            }

            #hero-bottom-left{
                background-color: #4C4669;
                @include xxl{
                    grid-template-columns: 20% auto 16px;
                }
                
                h1{
                    font-weight: 600;
                    line-height: 20px;
                    font-size: rem-calc(16);
    
                    @include lg{
                        line-height: 20px;
                        font-size: rem-calc(25);
                    }
                }
    
                p{
                            
                    font-weight: 400;
                    line-height: 20px;
                    font-size: rem-calc(14);
        
                    @include lg{
                        line-height: 20px;
                        font-size: rem-calc(16);
                    }
                }  
             }
    
             #hero-bottom-right{
                background-color: #9D94C9;
                @include xxl{
                    grid-template-columns: 16px auto 20%;
                }
    
                 h3{
                    font-weight: 600;
                    line-height: 24px;
                    font-size: rem-calc(16);
                }
            }
        }
     }
        
        
        
    
         

    

