/* =============
    hero
============= */

#hero{

    #hero-bottom{

        @include md{
            display: grid;
            grid-template-columns: 40% auto;
        }

        section{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero .";
             >div{
                grid-area: hero;
    
            }
         }
    
         #hero-bottom-left{
            background-color: var(--purple);
            background-color: #4C4669;
            color: white;
            padding: 0 16px;


            @include md{
                padding-left: 16px;
            }


            >div{
                display: flex;
                align-items: center;

                nav{
                    margin-left: auto;
                }
            }
            @include xxl{
                grid-template-columns: 20% auto 20%;
                padding-left: 227px;
            }
         }
         #hero-bottom-right{
            background-color: var(--lav);
            background-color: #9D94C9;
            color: white;
            padding: 0 16px;

            

        
            >div{
                display: flex;
                align-items: center;

                nav{
                    margin-left: auto;
                }
            }
            @include xxl{
                grid-template-columns: 16px auto 20%;
                padding-right: 227px;
            }
         }
    }
}