#photogallery{
  @include lg{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". gallery .";
  }

  @include xxl{
    grid-template-columns: auto 1200px auto;
  }

  ul{

    display: grid;
    grid-template-rows: 50vh 76vh;

    @include md{
      grid-area: gallery;
      grid-template-columns: 50% auto;
      grid-template-rows: 50vh;
    }

    @include lg{
      grid-template-columns: 60% auto;
    }
  

    @include xxl{
      grid-template-rows: repeat(2,30vh);
      grid-template-areas: 
      "f1 f3"
      "f1 f2";
    }

    li{
      background-size: cover;
      background-position: center;
    }

  
    #f1{
      background-image: url("../img/photogallery/bigflowers.jpg");
      @include xxl{
      grid-area: f1;
      }
    }

    #f2{
      background-image: url("../img/photogallery/butterflies.jpg");
      @include xxl{
      grid-area: f2;
      }
    }

    #f3{
      display: none;
      background-image: url("../img/photogallery/tulipgroup.jpg");
      @include xxl{
      display: list-item;
      grid-area: g3;
      }
    }


    
    }
  }



  