/* =============
    sub-hero
============= */



#sub-hero{
    h2{
        font-weight: 400;
            line-height: 30px;
            font-size: rem-calc(18);

            @include md{
                line-height: 30px;
                font-size: rem-calc(24);
            }
    }

    h3{
        font-weight: 400;
            line-height: 30px;
            font-size: rem-calc(22);

            @include md{
                line-height: 30px;
                font-size: rem-calc(29);
            }
    }


    @include md{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". sub-hero-cards .";

        @include xxl{
            grid-template-columns: auto 1200px auto;
        }
    }



    >div{
        display: grid;
        gap: 16px;

    @include md{
        grid-area: sub-hero-cards;
        grid-template-columns: 50% auto;
    }

    .sub-hero-cards{
        background-color: #9EAB8E;
        box-shadow: 0px 1px 1px 0px #2A30364D;
        padding: 16px;
        color: white;
        display: flex;
        align-items: center;

        

        aside{
            margin-left: auto;
            width: 20%;

            @include xl{
                width: 20%;
            }

            >div{
                background-position: center;
                background-size: cover;
                width: 100%;
                padding-bottom: 100%;
                border-radius: 100%;
                border: 3px solid white;
                overflow: hidden;
            }

            #sub-left-img{
                background-image: url("../img/ticket-link/tulip-circle.jpg");
            }
            #sub-right-img{
                background-image: url("../img/ticket-link/babys-breathe-circle.jpg");
            }
         }
     }
 }
    
    
}

