/* =============
    Footer
============= */


#footer{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
    background-color: var(--brown);
    background-color: #342B29;
    color: white;
    padding: 24px 0;

    @include xxl{
        grid-template-columns: auto 1200px auto;
      }

      
    >div{
        grid-area: footer;

            @include md{
                padding: 16px;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-template-areas: 
                "f1 f2"
                "f1 f3";
                gap: 16px;
            }

            @include lg{
                padding: 40px 16px;
                grid-template-columns: repeat(3,1fr);
                grid-template-areas: 
                "f1 f2 f3";
            }



            #f1{
                @include md{
                    grid-area: f1;
                }
                h2{
                    color: white;
                }
                color: #9EAB8E;
              }
              #f2{
                display: flex;
                flex-direction: column;

                @include md{
                    grid-area: f2;
                }
                form{
                    input{
                        background-color: #9EAB8E;
                        color: #342B29;
                    outline: transparent;
                    
                }
                button{
                    background-color: #9D94C9;
                    outline: transparent;
                    color: white;
                }
        
                }
              }
              #f3{
                
                @include md{
                    grid-area: f3;
                }
                @include lg{
                    text-align: right;
                }
                section{
                    ul{
                        display: flex;
                        @include lg{
                            justify-content: flex-end;
                        }
                        li{
                            margin-right: 16px;
    
                        }
                    }

                }

               
        }
    }

}

