/* =============
    Footer
============= */


#footer{
    h2{
        font-weight: 600;
            line-height: 30px;
            font-size: rem-calc(20);
    }
    h3{
        font-weight: 600;
            line-height: 24px;
            font-size: rem-calc(16);
    }
    p{
        font-weight: 400;
            line-height: 18px;
            font-size: rem-calc(12);

    }

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
    background-color: var(--brown);
    background-color: #342B29;
    color: white;
    padding: 24px 0;

    @include xxl{
        grid-template-columns: auto 1200px auto;
      }

      
    >div{
        grid-area: footer;

            @include md{
                padding: 16px;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-template-areas: 
                "g1 g2"
                "g1 g3";
                gap: 16px;
            }

            @include lg{
                padding: 40px 16px;
                grid-template-columns: repeat(3,1fr);
                grid-template-areas: 
                "f1 f2 f3";
            }



            #g1{
                color: #9EAB8E;
                @include md{
                    grid-area: f1;
                }

                h2{
                    color: white;
                    font-size: rem-calc(20);
                    font-weight: 600;
                }
                h3{
                    font-size: rem-calc(16);
                    font-weight: 600;
                    margin-top: 16px;
                    margin-bottom: 8px;

                }
                li{
                    padding-bottom: 16px;
                    border-bottom: 1px solid white;
                }

                li:last-child{
                    border: none;
                }

                section{
                    display: flex;

                }

                a:link, a:visited{
                    color: #9EAB8E;
                    &:hover, &:active{
                        color: whitesmoke;
                    }
                }
                
              }

              #g2{

                h2{
                    color: white;
                    font-size: rem-calc(20);
                    font-weight: 600;
                }

                @include md{
                    grid-area: f2;
                }

                form{
                    input{
                        background-color: #9EAB8E;
                        width: 100%;
                        border-radius: 0;
                        border: none;
                        box-sizing: border-box;
                        padding: 16px 8px;
                        color: #342B29; 
                    
                }
               
                button{
                    margin-top: 16px;
                    border: none;
                    color: white;
                    background-color: #9D94C9;
                    padding: 8px 16px;
                    display: inline-block;
                     transition: 0.25s;

                     &:hover{
                        background-color: white;
                        color: #4C4669;
                    }
                }
                }
              }
              #g3{
                
                @include md{
                    grid-area: f3;
                }
                @include lg{
                    text-align: right;
                }
                section{
                    ul{
                        display: flex;
                        @include lg{
                            justify-content: flex-end;
                        }
                        li{
                            margin-right: 16px;
                            a:link, a:visited{
                                padding: 16px ;
                                transition: 0.25s;
                                &:hover, &:active{
                                    color: white;
                                    background-color: white;

                                }
                            }
    
                        }
                    }

                }

               
        }
    }

}

