/* =============
    Buttons
============= */
.purple-button{
    background-color: #4C4669;
    color: white;
    padding: 8px 16px;
    display: inline-block;
    transition: 0.25s;

    &:hover{
        background-color: white;
        color: #4C4669;
    }
    

        }
    